hgroup h1 {
	text-indent:100%;
	white-space: nowrap;
	overflow:hidden;
	margin:0px;
}

hgroup p {
	font-size:0.875em;
	line-height:1em;
	width:63px;
	margin-top:69px;
}

h2 {
    font-size:1.875em;
}

article {
	float:left;
	width:337px;
	height:360px;
	margin-right:20px;
	margin-bottom:50px;
}

article:nth-child(odd) {
	margin-right:0px;
}

article img {
	width:100%;
}

article figure {
	height:200px;
	overflow:hidden;
}

.destacat {
	margin-bottom:65px;
	width:100%;
	height:auto;
	background-color: transparent;
}

.destacat figure {
	height:auto;
	overflow:visible;
}

@media screen and (min-width:481px) and (max-width:960px) {	

	hgroup p { 
        margin-top:55px;
        font-size:0.75em;
    }

    article {
        width:100%;
        margin-bottom:0px;
    }
    
}


@media screen and (max-width:480px) {

	hgroup {
		width:115px;
		height:68px;
		top:6px;
		background-position:-0px -232px;
	}

	hgroup p { 
        margin-top:20px;
    }

    h2 {
	    font-size:1.5em;
	}

	article {
		float:none;
		width:100%;
		height:auto;
		margin-right:0px;
		margin-bottom:50px;
	}

}



